!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title S.I. E & M C.A
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar
      .container-fluid
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              %a{:href => "#"} Materiales
            %li
              %a{:href => "#"} Sistema
            %li
              %a{:href => "#"} Telecomunicacion
            %li
              %a{:href => "#"} Nostros!
          %ul.nav.navbar-nav.navbar-right
            %li
              %a.contact{:href => "#", title: "Contactanos"} 
                Contactanos 
                %span.glyphicon.glyphicon-globe{"aria-hidden" => "true"}
        .navbar-header
          %a.navbar-brand{:href => "/"}
            %img.logo-img{:alt => "S&M", :src => "logoSIEM2.png"}/
    = yield
