!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title S.I. E & M C.A
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header.top.theme-project{"ng-class" => "{'top-transparent': !currentTheme}"}
      .top-bg
      .content-wrap.nav-top
        .top-left
          %navigation.nav-left.ng-isolate-scope{"sky-direction" => "section", :special => "settings.mainNavigation"}
            %ul.ng-scope
              %li.ng-scope{"ng-class" => "{act: $root.currentPath && $root.currentPath.indexOf(item.id)!=-1, current:$root.currentPath[$root.currentPath.length-1] == item.id}", "ng-repeat" => "item in items"}
                .nav-link.theme-project
                  %a{:href => "", "sky-direction" => "section"}
                    %span.ng-binding Projects
                    %span.nav-bullet.ng-scope{"ng-if" => "special"}
              %li.ng-scope.act.current{"ng-class" => "{act: $root.currentPath && $root.currentPath.indexOf(item.id)!=-1, current:$root.currentPath[$root.currentPath.length-1] == item.id}", "ng-repeat" => "item in items"}
                .nav-link.theme-activity
                  %a{:href => "", "sky-direction" => "section"}
                    %span.ng-binding Activities
                    %span.nav-bullet.ng-scope{"ng-if" => "special"}
              %li.ng-scope{"ng-class" => "{act: $root.currentPath && $root.currentPath.indexOf(item.id)!=-1, current:$root.currentPath[$root.currentPath.length-1] == item.id}", "ng-repeat" => "item in items"}
                .nav-link.theme-knowledge
                  %a{:href => "", "sky-direction" => "section"}
                    %span.ng-binding Knowledge
                    %span.nav-bullet.ng-scope{"ng-if" => "special"}
              %li.ng-scope{"ng-class" => "{act: $root.currentPath && $root.currentPath.indexOf(item.id)!=-1, current:$root.currentPath[$root.currentPath.length-1] == item.id}", "ng-repeat" => "item in items"}
                .nav-link.theme-network
                  %a{:href => "", "sky-direction" => "section"}
                    %span.ng-binding Networks
                    %span.nav-bullet.ng-scope{"ng-if" => "special"}
              %li.ng-scope{"ng-class" => "{act: $root.currentPath && $root.currentPath.indexOf(item.id)!=-1, current:$root.currentPath[$root.currentPath.length-1] == item.id}", "ng-repeat" => "item in items"}
                .nav-link.theme-about
                  %a{:href => "", "sky-direction" => "section"}
                    %span.ng-binding About us
                    %span.nav-bullet.ng-scope{"ng-if" => "special"}
        %a.top-logo{:href => "/"}
          %img.top-logo-img{:src => "logoSIEM2.png"}/
        .top-right
          %ul.nav-right
            %li
              %button.btn-round.btn-search{"title" => "¡Contactanos!"}
                %span.glyphicon.glyphicon-globe{"aria-hidden" => "true"}
    = yield
